<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>MovieNight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>
  <body>

  <%= yield %>
  <% unless user_signed_in? %>
    <p>Sign in or Create an account</p>
    <%= link_to "sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
    <% else %>
    <div id="current_user" data-value=<%=current_user.id %> hidden></div>
    <div id="current_user_admin" data-value=<%=current_user.admin %> hidden></div>
    <div id="current_user_name" data-value=<%=current_user.name %> hidden></div>
      <%= javascript_pack_tag 'index', defer: 'defer' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id='root'>
    </div>
  </body>
</html>
