<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <% unless user_signed_in? %>
    <p>Sign in or Create an account</p>
    <%= link_to "sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
    <% else %>
      <%= button_to "logout", destroy_user_session_path, method: :delete %> 
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
